@using Application.Features.Topics.GetTopic

@model TopicDto

@section Styles {
    <script src="https://cdn.tiny.cloud/1/wlmxzhf104ijt8igy6sg14kuj7t5rbyaeu0h75k1j6patgs3/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#Content',
            plugins: [
                'advlist', 'autolink', 'lists', 'link', 'image', 'charmap', 'preview',
                'anchor', 'searchreplace', 'visualblocks', 'code', 'codesample', 'fullscreen',
                'insertdatetime', 'media', 'table', 'help', 'wordcount'
            ],
            toolbar: 'undo redo | blocks | ' +
                'codesample bold italic backcolor | alignleft aligncenter ' +
                'alignright alignjustify | bullist numlist outdent indent | ' +
                'removeformat | link | help',
            content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }',
            skin: 'oxide-dark',
            content_css: 'dark',
            height: 500,
            statusbar: false,
        });
    </script>
}

<form class="row" asp-controller="Topic" asp-action="Edit" method="post">

    <input type="hidden" value="@Model.Id" />

    <div class="col-12 mb-4">
        <input id="Title" name="Title" type="text" class="form-control" value="@Model.Title" placeholder="Введите название" />
    </div>

    <div class="col-6 mb-4">
        <select name="Tags" id="Tags" class="selectpicker w-100" title="Метки" multiple data-live-search="true">
        </select>
    </div>

    <div class="col-6 mb-4">
        <select name="Levels" id="Levels" class="selectpicker w-100" title="Уровень" multiple>
        </select>
    </div>

    <div class="col-12 mb-4">
        <textarea id="Content" name="Content">
            @Model.Content
        </textarea>
    </div>

    <div class="col-12">
        <input type="submit" value="Сохранить" class="btn btn-success" />
    </div>
</form>

@section Scripts {
    <script>
        $(document).ready(async function() {
            await loadTags();
            await loadLevels();

            $('#Tags').selectpicker('refresh');
            $('#Levels').selectpicker('refresh');
        });

        async function loadTags() {

            // Topic tags
            const modelTags = @Html.Raw(Json.Serialize(@Model.Tags));

            const tags = await GET('/Tag/Get', {}, { dataType: 'json' });

            for (let i = 0; i < tags.length; i++) {
                const selected = modelTags.includes(tags[i].title) ? 'selected' : '';

                $('#Tags').append(`<option value="${tags[i].id}" ${selected}>${tags[i].title}</option>`);
            }
        }

        async function loadLevels() {

            // Topic levels
            const modelLevels = @Html.Raw(Json.Serialize(@Model.Levels.Select(x => x.Title)));

            const levels = await GET('/Level/Get', {}, { dataType: 'json' });

            for (let i = 0; i < levels.length; i++) {
                const selected = modelLevels.includes(levels[i].title) ? 'selected' : '';

                $('#Levels').append(`<option value="${levels[i].id}" ${selected}>${levels[i].title}</option>`);
            }
        }
    </script>
}